html {
    height: 100%;
}

body {
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ECE4d6;
}

.text-title {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.8rem;
    text-shadow: -1px 7px 0 #af3319;
}

a, a:hover {
    color: #ECE4d6;
    text-decoration: none;
}

.bg-gradient {
    background-image: linear-gradient(to bottom, rgb(211, 94, 8), rgb(233, 124, 13));
}

::selection {
    background: #787878;
}

::-webkit-input-placeholder { /* Edge */
    color: #e1e1e1;
}

:-ms-input-placeholder { /* Internet Explorer */
    color: #e1e1e1;
}

::placeholder {
    color: #e1e1e1;
}

.outline-none {
    outline: 0;
}

.search-font {
    font-size: 3vh;
    color: rgb(233, 124, 13);
}

.input-font {
    caret-color: rgb(233, 124, 13);
    font-weight: 800;
    color: #505050;
}


/*------------Medium ≥768px------------*/
@media (min-width: 768px) {

    .text-title {
        font-size: 4.2rem;
    }

    .search-font {
        font-size: 5vh;
    }

    .input-font {
        font-size: 5vh;
    }

}

