html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-gradient {
    background-image: linear-gradient(to bottom, rgb(211, 94, 8), rgb(233, 104, 10));
}

.error-message {
    color: #26a69a;
}

::selection {
    background: transparent;
    text-shadow: #000 0 0 2px;
}
