html {
    height: 100%;
}

body {
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ECE4d6;
}

.text-title {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.8rem;
    text-shadow: -1px 7px 0 #af3319;
}

a, a:hover {
    color: #ECE4d6;
    text-decoration: none;
}

.bg-gradient {
    background-image: linear-gradient(to bottom, rgb(211, 94, 8), rgb(233, 124, 13));
}

::selection {
    background: #787878;
}

::-webkit-input-placeholder { /* Edge */
    color: #e1e1e1;
}

:-ms-input-placeholder { /* Internet Explorer */
    color: #e1e1e1;
}

::placeholder {
    color: #e1e1e1;
}

.outline-none {
    outline: 0;
}

.search-font {
    font-size: 6vw;
    color: rgb(233, 124, 13);
}

.input-font {
    caret-color: rgb(233, 124, 13);
    font-weight: 800;
    color: #505050;
}

.world-records-font {
    color: #ECE4d6;
    font-size: 2rem;
    font-weight: 800;
}

.first-place-font {
    color: #FFDF00;
    font-weight: bolder;
    font-size: 1.4rem;
}

.first-place-font-km {
    font-size: 1.4rem;
    font-weight: bolder;
    color: #fff;
}

.second-place-font {
    color: #D3D3D3;
    font-weight: bolder;
    font-size: 1.3rem;
}


.second-place-font-km {
    font-size: 1.3rem;
    font-weight: bolder;
    color: #fff;
}

.third-place-font {
    color: #a70000;
    font-weight: bolder;
    font-size: 1.1rem;
}

.third-place-font-km {
    font-size: 1.1rem;
    font-weight: bolder;
    color: #fff;
}

.other-place-font {
    font-size: medium;
    font-weight: bold;
    color: white;
}

.data-font {
    font-size: small;
    font-weight: 100;
    color: white;
}

.modal-font {
    font-weight: normal;
    color: #505050;
}

.result-font {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
}

.result-font-sub {
    font-size: 1.3rem;
    font-weight: 800;
    color: white;
}

.result-font-list {
    font-size: 1rem;
    font-weight: normal;
    color: white;
}

.result-font-user {
    font-size: 2rem;
    font-weight: 800;
    color: black;
}

.result-font-special {
    color: black;
}

/*------------Medium ≥768px------------*/
@media (min-width: 768px) {

    .text-title {
        font-size: 4.2rem;
    }

    .search-font {
        font-size: 2.5rem;
    }

    .input-font {
        font-size: 2.5rem;
    }

}

