<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: meta" th:remove="tag"/>
    <title>code length app</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body class="bg-gradient">
<th:block th:replace="fragments :: header" th:remove="tag"/>

<main>
    <div class="container col-md-9 col-lg-7 col-xl-6">
        <div class="row">
            <div class="col-12 result-font text-center">Success!</div>

            <div class="col-12 result-font-sub text-center">
                <span class="result-font-user" th:text="${username}"></span>
                <br>
                we just took measurements of your code:
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="result-font-list pt-4">
                <ul>
                    <li>You have
                        <span class="result-font-special" th:text="${numberOfPublicRepos}"></span>
                        <span th:if="${numberOfPublicRepos == 1}" th:text="repository"></span>
                        <span th:if="${numberOfPublicRepos > 1}" th:text="repositories"></span>
                    </li>

                    <li>Your code has
                        <span class="result-font-special" th:text="${length}"></span> kilometers length
                    </li>

                    <li>you are a
                        <span class="result-font-special" th:text="${language}"></span> developer.
                    </li>

                    <li>list of your public repositories:
                        <ul th:each="repo : ${repos}">
                            <li class="result-font-special" th:text="${repo.toString()}"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12 result-font-sub pt-4 text-center">That's all we know. We are so proud...</div>
        </div>
    </div>
</main>

<div class="container">
    <th:block th:replace="fragments :: footer" th:remove="tag"/>
    <th:block th:replace="fragments :: scripts" th:remove="tag"/>
</div>

</body>
</html>
