<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <th:block th:replace="fragments :: meta" th:remove="tag"/>
    <title>code length app</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: header" th:remove="tag"/>

<main>
    <div class="container">
        <h3 class="center"><a href="/" class="black-text">github</a></h3>

        <div class="row center-align">
            <div class="col s6 m6 offset-s3 offset-m3">

                <div class="input-field">
                        <span th:text="${numberOfRepos}">

                        </span>
                </div>

                <div class="row center">
                    <span th:text="${length}">

                    </span>

                </div>

            </div>
        </div>

    </div>
</main>

<div class="container">
    <th:block th:replace="fragments :: footer" th:remove="tag"/>
    <th:block th:replace="fragments :: scripts" th:remove="tag"/>
</div>

</body>
</html>
