<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="meta">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </th:block>

    <title></title>

    <th:block th:fragment="link-styles">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap">
    </th:block>
</head>

<body>
<th:block th:fragment="header">
    <div class="container text-center text-title pt-4 pt-md-5 pb-5"><a href="/">code length app</a></div>
</th:block>

<th:block th:fragment="footer">
    <div class="pt-2"></div>

    <hr>

    <div class="container p-0 pt-2 pb-5">
        <div class="row">
            <div class="col-12 text-center col-md-8 text-md-left">
                © 2020 -
                <script th:src="@{/js/year.js}"></script>
                created by: Karol Skolasiński
            </div>

            <div class="col-12 pt-3 text-center col-md-4 text-md-right pt-md-0">
                <a href="mailto:karolskolasinski@gmail.com?subject=code length app&body=Awesome app!">Contact</a> |
                <a href="https://www.linkedin.com/in/karolskolasinski/" target="_blank">About</a> |
                <a href="https://github.com/karolskolasinski/code_length">Github</a>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="scripts">
    <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</th:block>

</body>
</html>
