<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: meta" th:remove="tag"/>
    <title>code length app</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body class="bg-gradient">
<th:block th:replace="fragments :: header" th:remove="tag"/>

<main>
    <!--error modal-->
    <div class="modal fade" id="errorModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="errorModalTitle" aria-hidden="true" th:if="${errorMessage != null}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title input-font" id="errorModalTitle">Error!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-font text-left">
                    <span th:text="${errorMessage}"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--form-->
    <div class="form-inline bg-white align-items-baseline search-font">
        <div class="col-2 text-right align-text-bottom p-0">
            <i class="fas fa-search"></i>
        </div>
        <div class="col-10 p-0">
            <form sec:authorize="isAuthenticated()">
                <input class="w-100 border-0 pl-3 outline-none input-font pb-2 pt-2"
                       type="text" min="1" th:placeholder="'you are logged in as ' + ${username}"
                       required title="1 character minimum" readonly>
            </form>

            <form sec:authorize="!isAuthenticated()" th:action="@{/get}" th:method="post">
                <input class="w-100 border-0 pl-3 outline-none input-font pb-2 pt-2" th:name="username" id="username"
                       type="text" min="1" placeholder="your github username"
                       required title="1 character minimum">
            </form>
        </div>
    </div>

    <!--records-->
    <div class="container mt-5 col-md-6 col-lg-5 col-xl-4">
        <div th:each="user, index : ${top10}">
            <div class="row">
                <div class="col-12 pb-0 world-records-font" th:if="${index.first}">World records
                    <hr>
                </div>
            </div>

            <div class="col-12">
                <!--1st-->
                <span class="first-place-font" th:text="${user.getUsername()}" th:if="${index.first}"></span>
                <span class="text-left first-place-font-km"
                      th:text="${'&nbsp;' + user.getLength() + ' '} + km" th:if="${index.first}"></span>

                <!--2nd-->
                <span class="second-place-font" th:text="${user.getUsername()}"
                      th:if="${index.index == 1}"></span>
                <span class="text-left second-place-font-km"
                      th:text="${'&nbsp;' + user.getLength() + ' '} + km" th:if="${index.index == 1}"></span>

                <!--3rd-->
                <span class="third-place-font" th:text="${user.getUsername()}" th:if="${index.index == 2}"></span>
                <span class="text-left third-place-font third-place-font-km"
                      th:text="${'&nbsp;' + user.getLength() + ' '} + km" th:if="${index.index == 2}"></span>

                <!--other-->
                <span class="other-place-font" th:text="${user.getUsername()}" th:if="${index.index > 2}"></span>
                <span class="text-left other-place-font"
                      th:text="${'&nbsp;' + user.getLength() + ' '} + km" th:if="${index.index > 2}"></span>
            </div>

            <div class="col-12 data-font">
                <!--repos-->
                <span class="" th:text="${user.getNumberOfRepos()} + '&nbsp;' + repository + '&nbsp;|'"
                      th:if="${user.getNumberOfRepos() == 1}"></span>
                <span class="" th:text="${user.getNumberOfRepos()} + '&nbsp;' + repositories + '&nbsp;|'"
                      th:if="${user.getNumberOfRepos() > 1}"></span>

                <!--language-->
                <span class="" th:text="${user.getLanguage()} + '&nbsp;|'"
                      th:if="${user.getLanguage().equals('language not recognized')}"></span>
                <span class="" th:text="${user.getLanguage()} + '&nbsp;' + developer + '&nbsp;|'"
                      th:if="${!user.getLanguage().equals('language not recognized')}"></span>

                <!--date-->
                <span class="" th:text="${#temporals.format(user.getLocalDateTime(), 'dd-MM-yyyy HH:mm')}"></span>
            </div>

            <hr>
        </div>

        <!--modal-->
        <div class="text-center pt-4">
            <!--button trigger explain modal-->
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#explainModalCenter">
                How we count kilometers?
            </button>

            <!--explain modal-->
            <div class="modal fade" id="explainModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="explainModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title input-font" id="explainModalTitle">How we count kilometers</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body modal-font text-left">
                            In simple terms:
                            <ol>
                                <li>we scan all your public repositories</li>
                                <li>we scan every file in the repository, checking if it is on the list of supported
                                    files such as:
                                    <ul>
                                        <li>.java</li>
                                        <li>.kt</li>
                                        <li>.html</li>
                                        <li>.css</li>
                                        <li>.js</li>
                                        <li>.php</li>
                                        <li>.c</li>
                                        <li>.cs</li>
                                        <li>.cpp</li>
                                        <li>.py</li>
                                        <li>.rb</li>
                                        <li>.ex</li>
                                        <li>.go</li>
                                    </ul>
                                </li>
                                <li>if the file is supported, we check its size</li>
                                <li>for simplicity, we assume that each byte corresponds to one character</li>
                                <li>we count the code length according to the formula: 1 character = 7 pixels =
                                    0.185206 cm
                                </li>
                                <li>we are glad that you used the application :)</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>


<div class="container">
    <th:block th:replace="fragments :: footer" th:remove="tag"/>
    <th:block th:replace="fragments :: scripts" th:remove="tag"/>
</div>

</body>
</html>
