<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <th:block th:replace="fragments :: meta" th:remove="tag"/>
    <title>code length app</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: header" th:remove="tag"/>

<main>
    <div class="container">
        <h3 class="center"><a href="/" class="black-text">github</a></h3>

        <div class="row center-align">
            <div class="col s6 m6 offset-s3 offset-m3">
                <form th:action="@{/get}" th:method="post">
                    <div class="input-field">
                        <input th:name="username" id="username" type="text" minlength="3"
                               required title="3 characters minimum">
                        <label for="username">your username</label>
                    </div>

                    <div class="row center">
                        <button class="btn waves-effect waves-light" type="submit" name="question_input">run</button>
                    </div>

                </form>
            </div>
        </div>

        <!--<div>-->
            <!--World champion:-->
            <!--<span th:text="${top10.get(0)}">-->
            <!--</span>-->
        <!--</div>-->

        <!--<div>-->
            <!--Second:-->
            <!--<span th:text="${top10.get(1)}"></span>-->
        <!--</div>-->

        <!--<div>-->
            <!--Third:-->
            <!--<span th:text="${top10.get(2)}"></span>-->
        <!--</div>-->

        <div th:each="user, iter : ${top10}" class="row">
            <span th:text="${iter.first}"></span>
            <span th:if="${iter.index == 1}">th:if</span>

            <span class="col-md-1 mt-2" th:text="${user.getUsername()}"></span> |
            <span class="col-md-1 mt-2" th:text="${user.getNumberOfRepos()}"></span> |
            <span class="col-md-2 mt-2" th:text="${user.getLength()}"></span> |
            <span class="col-md-3 mt-2" th:text="${user.getLanguage()}"></span> |
            <span class="col-md-3 mt-2"
                  th:text="${#temporals.format(user.getLocalDateTime(), 'dd-MM-yyyy HH:mm')}"></span>
        </div>


    </div>
</main>

<div class="container">
    <th:block th:replace="fragments :: footer" th:remove="tag"/>
    <th:block th:replace="fragments :: scripts" th:remove="tag"/>
</div>

</body>
</html>
