<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <th:block th:replace="fragments :: meta" th:remove="tag"/>
    <title>code length app</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body class="bg-gradient">
<th:block th:replace="fragments :: header" th:remove="tag"/>

<main>
    <div class="form-inline bg-white align-items-baseline search-font">
        <div class="col-2 text-right align-text-bottom p-0">
            <i class="fas fa-search"></i>
        </div>
        <div class="col-10 p-0">
            <form class="" th:action="@{/get}" th:method="post">
                <input class="w-100 border-0 pl-3 outline-none input-font pb-2 pt-2" th:name="username" id="username"
                       type="text" minlength="1"
                       placeholder="your github username" required title="1 character minimum">
            </form>
        </div>
    </div>

    <div class="container">

        <!--<div>-->
        <!--World champion:-->
        <!--<span th:text="${top10.get(0)}">-->
        <!--</span>-->
        <!--</div>-->

        <!--<div>-->
        <!--Second:-->
        <!--<span th:text="${top10.get(1)}"></span>-->
        <!--</div>-->

        <!--<div>-->
        <!--Third:-->
        <!--<span th:text="${top10.get(2)}"></span>-->
        <!--</div>-->

        <div th:each="user, iter : ${top10}" class="row">
            <span th:text="${iter.first}"></span>
            <span th:if="${iter.index == 1}">th:if</span>

            <span class="col-md-1 mt-2" th:text="${user.getUsername()}"></span> |
            <span class="col-md-1 mt-2" th:text="${user.getNumberOfRepos()}"></span> |
            <span class="col-md-2 mt-2" th:text="${user.getLength()}"></span> |
            <span class="col-md-3 mt-2" th:text="${user.getLanguage()}"></span> |
            <span class="col-md-3 mt-2"
                  th:text="${#temporals.format(user.getLocalDateTime(), 'dd-MM-yyyy HH:mm')}"></span>
        </div>


    </div>
</main>

<div class="container">
    <th:block th:replace="fragments :: footer" th:remove="tag"/>
    <th:block th:replace="fragments :: scripts" th:remove="tag"/>
</div>

</body>
</html>
